*{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    box-sizing:border-box;
}

body{
    background: #392b00;
    color: #ffffff;
}

.container{
    margin:18%;
    width:70%;
    max-width:700px;
}

.display{
    width:100%;
    margin-top:25px;
    margin-bottom:20px;
    background:#735549;
    color:#8e7a7a;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 20px;
    border-radius: 5px;
}

.display img{
    width: 30px;
    cursor:pointer;
}

.display input{
    border:0;
    outline:0;
    font-size: 24px;
}

.container button img{
    width:28px;
    margin-right: 10px;
}

.container button{
    border:0;
    outline: 0;
    background: #799dd8;
    color:#ffe5b4;
    font-size:25px;
    font-weight:300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:13px 20px;
    border-radius: 8px;
    cursor:pointer;
}